extends layout

block content
  h1 Delete Genre: #{genre.name}

  if genre_books.length
    p
      strong Cannot delete this genre because the following books reference it:
    ul
      each book in genre_books
        li
          a(href=book.url) #{book.title}
  else
    p Do you really want to delete this genre?

    form(method='POST')
      input(type='hidden', name='genreid', value=genre._id)
      button.btn.btn-danger(type='submit') Delete
      a.btn.btn-secondary(href='/catalog/genres') Cancel
